.App {
  text-align: center;
}

*{
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}


h1{
  color: white;
}
section{
  background: rgb(43, 43, 43);
}